body {
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1 h2,
h3 {
  color: #231d3c;
}

p {
  text-align: center;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.top-column {
  width: 100%;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.bottom-column {
  width: 100%;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .top-column,
  .bottom-column {
    grid-template-columns: 1fr;
  }
}
